* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}

body,
p {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

h2 {
  @extend h1;
}
