* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}

body,
p,
a {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: $veryDarkCyan;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: $veryDarkCyan;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: $veryDarkCyan;
}

.container {
  width: 1000px;
  margin: 0px auto;
}
